{% load static %}



{% block content %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
button {font-family: "Montserrat", sans-serif}

</style>

<!-- Modal -->
<div class="w3-top">
    <div style = "background-color: #2196f3ab!important" class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="#About" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">About</a>
    <a href="https://github.com/Akash9268" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Github</a>
    <a href="{% url 'quizes:login' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white navbar-nav ml-auto">Log in</a>
    <a href="{% url 'quizes:signup' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white navbar-nav ml-auto">Sign Up</a>


  </div>

  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 4</a>
  </div>
</div>

<!-- Header -->
<header style="background-color: #2196f3ab!important; padding-top: 200px; padding-bottom: 200px;" class="w3-container w3-red w3-center" style="padding:200px 16px">
  <h1 class="w3-margin w3-jumbo">QUIZ MASTER</h1>
<!--   <p class="w3-xlarge">By Aakash Sharma</p>
 -->  
 <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top"><a style="color: #d2d5da" href="{% url 'quizes:login' %}">Take Quiz</a></button>
  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top"><a style="color: #d2d5da" href="{% url 'quizes:main-detail' %}">Add Quiz</a></button>
</header>

<!-- First Grid -->	
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1 id="About">Quiz Master</h1>
      <h5 class="w3-padding-32">This application is  developed  for  educational  purpose,  allowing  the users to prepare the multiple choice questions for different examinations conducted on any organizational level. The main goal of the application is to enable users to practice for objective tests conducted for admissions and recruitment, with focusing on different fields.</h5>

      <p class="w3-text-grey">This Web Application provides facility to conduct online examination worldwide.
 It saves time as it allows number of students to give the exam at a time and displays the results as the test gets over, so no need to wait for the result. It is automatically generated by the server.  Administrator has a privilege to create, modify and delete the test papers and its particular questions. User can register, login and give the test with his specific id, and can see the results as well. 
</p>
    </div>

    <div class="w3-third w3-center">
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Quiz Master</h1>
      <h5 class="w3-padding-32"> This quiz application includes five topics to choose from , namely  (i)  Mathematics,  (ii)  Physics,  (iii) Chemistry (iv) Computer Science (v) Networking</h5>

      <p class="w3-text-grey">It will help different people in learning and answering different questions created by other users after choosing particular category.
It also has a facility for user login where user can login and can take quiz of his choice. He can take as many quizzes he wants and get the score instantly.
</p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: live life</h1>
</div>

{% endblock %}



